<div class="container mt-4 mb-4">
  <h2 class="text-start fs-1">{{ pedido?.numero }}</h2>
  <form [formGroup]="pedidoForm">
    <div class="mt-4 mb-4 col-11">
      <div class="row mb-3">
        
          <div>
            <label for="mesa" class="form-label">Mesa</label>
            <select name="mesa" id="mesa" class="form-control" formControlName="mesa" [(ngModel)]="mesa">
              <option [ngValue]="null"></option>
              @for(mesa of mesaService.mesas(); track $index){
              <option [ngValue]="mesa">{{ mesa.descricao }}</option>
              }
            </select>
          </div>
      
      </div>
      <div class="mb-3 d-flex align-items-center">
        <input type="checkbox" name="deliver" id="deliver" class="form-check me-1" formControlName="deliver" [(ngModel)]="disable"/>
        <label for="deliver" class="form-label mt-1">Entrega ?</label>
      </div>
      
        <div>
          <app-item-pedido-list [pedido]="pedido" />
        </div>

        <div class="d-flex justify-content-end align-items-end float-end flex-column mb-3 col-2">
          <label for="totalPagar" class="form-label">Total à pagar</label>
          <input type="text" name="totalPagar" id="totalPagar" class="form-control" formControlName="totalPagar" readonly [value]="pedidoService.pedidoRead()?.totalPagar">
        </div>
     

      <div class="d-grid gap-2">
        <button class="btn btn-success rounded fw-bold" type="button" (click)="onSave()">
          Finalizar o pedido
            <i class="fa fa-check" aria-hidden="true">

            </i>
        </button>
      </div>
    </div>
  </form>


</div>