<div class="container mt-4 mb-4">
    <h2 class="text-start fs-1">Pedidos</h2>

    <div class="mb-3 d-flex justify-content-end">
      <button type="button" class="btn btn-warning fw-semibold" (click)="openCreatePedidoModel()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Novo
      </button>
  
      <button type="button" class="btn btn-info ms-2 fw-semibold" (click)="this.pedidoService.getPedidos(pageNumber, pageItens)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>

    <div>
        @if(pedidoService.pedidos()?.pedidoDTOList!.length !== 0){
            <table class="table table-striped">

                <thead>
                  <tr>
                    <th scope="col">Número</th>
                    <!-- <th scope="col">Mesa</th> -->
                    <th scope="col">Descrição</th>
                    <th scope="col">Estado</th>
                    <!-- <th scope="col">Data de criação</th> -->
                    <!-- <th scope="col">Entrega ?</th> -->
                    <!-- <th scope="col">Total a pagar</th> -->
                    <!-- <th scope="col">Total pago</th> -->
                    <!-- <th scope="col">Total de troco</th> -->
                    <!-- <th></th> -->
                  </tr>
                </thead>
    
                <tbody>
                    @for(pedido of pedidoService.pedidos()?.pedidoDTOList! | paginate: { itemsPerPage: pageItens, currentPage: pageNumber, totalItems:pedidoService.pedidos()?.totalItens}; track $index){
                        <tr>
                             <td>{{pedido.numero}}</td>
                             <!-- <td>{{pedido.mesa?.descricao}}</td> -->
                             <td>{{pedido.descricao}}</td>
                             <td>{{pedido.estadoPedido}}</td>
                             <!-- <td>{{pedido.dataCriacao}}</td> -->
                             <!-- <td>{{pedido.deliver}}</td> -->
                             <!-- <td>{{pedido.totalPagar}}</td> -->
                             <!-- <td>{{pedido.totalPago}}</td> -->
                             <!-- <td>{{pedido.totalTroco}}</td> -->
                             <!-- <td class="d-flex justify-content-end">
                              <button
                                type="button"
                                class="btn btn-success btn-sm rounded fw-medium"
                                (click)="fecharPedido(pedido)"
                              >
                             
                                <i class="fa fa-check" aria-hidden="true"></i>
                                FECHAR
                              </button>
                            </td>                  -->
                        </tr>
                    }
                </tbody>
    
            </table>
            <pagination-controls 
            (pageChange)="pageChanged($event)"
            previousLabel=""
            nextLabel=""
            [maxSize]="3"
            class="d-flex justify-content-center mt-4"></pagination-controls>
        }@else {
            <div class="alert alert-primary" role="alert">
                Nenhum Pedido cadastrado. Adicione pedidos clicando no botão "Novo".
              </div>
        }
    </div>
</div>
