<div class="container mt-4 mb-4">
    <h2 class="text-start fs-1">Itens de pedido</h2>
    
    <div class="mb-3 d-flex justify-content-end">
        <button type="button" class="btn btn-warning fw-semibold" (click)="openCreateItemPedidoModel()">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Novo
        </button>
    
        <button type="button" class="btn btn-info ms-2 fw-semibold">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </div>
</div>
