<div class="container mt-4 mb-4">
  <h2 class="text-start fs-1">Cardápios</h2>

  <div class="mb-3 d-flex justify-content-end me-3 ">
    <button type="button" class="btn btn-warning fw-semibold" (click)="openCreateCardapioModal()">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Novo
    </button>

    <button type="button" class="btn btn-info ms-2 fw-semibold" (click)="this.cardapioService.getCardapios()">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </button>
  </div>

  <div class="">
    <div class="row mb-3">
      @for (cardapio of cardapioService.cardapios(); track $index) {
      <div style="max-width: 41rem" class="mb-3">
        <div class="card">
          <div class="row g-0">
            <div class="col-md-4 border-end">
              @if(cardapio.tipoCardapio === 'PRATOS'){
              <img src="{{ imagemCardapioPratos }}" class="img-fluid rounded-start " alt="Imagem default para o cardápio"
                style="height: 11em; width: 100%" />
              } @else if(cardapio.tipoCardapio === 'BEBIDAS'){
              <img src="{{ imagemCardapioBebidas }}" class="img-fluid rounded-start" alt="Imagem default para o cardápio"
                style="height: 11em; width: 100%" />
              } @else {
              <img src="{{ imagemCardapioUnico }}" class="img-fluid rounded-start" alt="Imagem default para o cardápio"
                style="height: 11em; width: 100%" />
              }
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ cardapio.descricao }}</h5>
                <p class="card-text mb-5 tipo-color">{{ cardapio.tipoCardapio }}</p>

                <div>
                  <a [routerLink]="['/cardapios', cardapio.id]" class="btn btn-primary btn-sm rounded-start"><i
                      class="fa fa-eye" aria-hidden="true"></i></a>
                  <button type="button" class="btn btn-info btn-sm ms-1 me-1">
                    <i class="fa fa-edit" aria-hidden="true" (click)="updateCardapio(cardapio.id!)"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm rounded-end"
                    (click)="deleteCardapio(cardapio.id!)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-warning btn-sm p-1 fs-6 w-25 float-end fw-semibold" (click)="openCreateItemConsumoModel(cardapio)">
                    <i class="fa fa-plus" aria-hidden="true"></i> Item
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      } @empty {
      <div class="alert alert-primary" role="alert">
        Nenhum Cardápio cadastrado. Adicione cardápios clicando no botão "Novo".
      </div>
      }
    </div>
  </div>
</div>