<div class="col-7 content-center mt-4 mb-4 ">
<div class="top-cardapio">
  <h2 class="text-center fs-3 mb-4">
    Cardápio: {{ cardapio?.descricao }} - {{ cardapio?.tipoCardapio }}
  </h2>
</div>

  <div class="menu-list text-white active d-flex flex-column">
    <button type="button" class="novoItemButton mb-2 p-2 ms-3 rounded text-white" (click)="openCreateItemConsumoModel(cardapio!)"> <i class="fa fa-plus" aria-hidden="true"></i> Novo item</button>
  <app-item-consumo-list />
  </div>
</div>
