.top-cardapio{
     border: 2px solid #714600;
     border-top-left-radius: 2rem;
     border-top-right-radius: 2rem;
     padding-top: 2rem;
     background-color: #ffa42c;
     color: #ffffff;
}
.menu-list{
     border: 2px solid #714600;
     border-bottom-left-radius: 2rem;
     border-bottom-right-radius: 2rem;
     padding: 2rem;
     background-color: #fbfbfb;
     
}

.content-center{
     margin-left: 21%;
     margin-right: 20%;
}

.linkItem{
     color: #ffa42c;
}