<div class="container col-10 mt-5 mb-4 border">
  <section class="text-center">
    <h2>Mesas</h2>
  </section>
  <section class="mb-3">
    <div class="mb-3">
      <button type="button" class="btn btn-primary me-2">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Nova
      </button>
      <button type="button" class="btn btn-info">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>

    <div class="card mt-4" style="width: 18rem">
      <img
        src="../../../../../assets/images/cover-side.png"
        class="card-img-top"
        alt="Imagem"
      />
      <div class="card-body">
        <h5 class="card-title">MS/2</h5>
        
          <li class="card-tex">Lugares: 4</li>
          <li class="card-tex">Descrição: Mesa 2 com 4 lugares</li>
          <li class="card-tex">Estado: Disponível</li>
        
      </div>
    </div>
  </section>
</div>
