<div class="container mt-4 mb-4">
  <h2 class="text-center fs-1">Mesas</h2>

  <div class="mb-3 d-flex justify-content-end">
    <button type="button" class="btn btn-warning" (click)="openCresteMesaModal()">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Nova
    </button>

    <button type="button" class="btn btn-info ms-2">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </button>
  </div>

  <div>
    <div class="row mb-3">
      @for (mesa of mesaService.mesas(); track $index) {
        <div style="width: 20rem;" class="mb-3">
          <div class="card">
            <img
              src="../../../../../assets/images/full-table.png"
              class="card-img-top"
              alt="Imagem"
            />
            <div class="card-body">
              <h5 class="card-title">{{mesa.numero}}</h5>
  
              <li class="card-tex">Lugares: {{mesa.quantidadeLugares}}</li>
              <li class="card-tex">Descrição: {{mesa.descricao}}</li>
              <li class="card-tex mb-3">Estado: {{mesa.estadoMesa}}</li>
              <div>
                <button
                  type="button"
                  class="btn btn-warning btn-sm rounded-start"
                >
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
  
                <button
                  type="button"
                  class="btn btn-info btn-sm ms-1 rounded-end"
                >
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      } @empty {
        <div class="alert alert-primary" role="alert">
          Nenhuma mesa cadastrada. Adicione mesas clicando no botão "Nova".
        </div>
      }
    </div>
  </div>
</div>
