<!-- @for (item of itemConsumoService.itensConsumo(); track $index) {
  <p>{{item.descricao}}</p>
} @empty {
     <div class="text-center">
          Nenhum item de consumo cadastrado neste cardápio. Adicione itens clicando no botão "Novo".
        </div> 
} -->

<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
<p>1. Arroz com feijão preto ............................................................................................................................................... 1500 Kz</p>
