.tipo-item{
     padding: .6rem;
     background-color: #ffa42c;
     color: #ffffff;
     font-weight: bolder;
     font-size: large;
     border-radius: .5rem;
}

a{
     list-style: none;
     text-decoration: none;
     color: #000000;
     font-weight: 500;
     font-size: 1.2rem;
}

.badge-style{
     background-color: #ffa42c;
     padding: .6rem;
}

.sub-title{
     color: #ffa42c;
     font-weight: bolder;
}

