<div class="container">
  <ol class="list-group list-group-numbered">
    <div class="tipo-item mb-2">PRINCIPAL</div>
    @for (item of itemConsumoService.itensConsumo(); track $index) {
    @if(item.tipoItemConsumo === 'PRATO' && item.tipoPrato === 'PRINCIPAL'){
    <li class="list-group-item d-flex justify-content-between align-items-start border border-0 mb-2">
      <div class="ms-2 me-auto">
        <div class="fw-bold">
          <a href="">{{ item.descricao }}</a>
        </div>
      </div>
      <span class="badge text-bg-primary rounded-pill fs-6">{{ item.preco }} Kz</span>
    </li>
    }
    }
  </ol>
</div>