<div class="modal-header">
      <!-- <h4 class="modal-title">Editar cardápio</h4> -->
      <h4 class="modal-title"><span class="text-light-emphasis fs-4">Adidionar:</span> {{ itemPedidoForm.get(['itemConsumo'])?.value!.descricao }} </h4>
  
</div>

<div class="modal-body">
    <form [formGroup]="itemPedidoForm" (ngSubmit)="onSave()" class="row">
        <!-- <div class="mb-3">
            @if(itemPedido != null){
                <label for="id" class="form-label">Id</label>
                <input type="text" name="id" id="id" class="form-control" readonly formControlName="id">
            }
        </div> -->
        <!-- <div class="mb-3">
            <label for="itemConsumo" class="form-label">Item selecionado</label>
                <select name="itemConsumo" id="itemConsumo" class="form-control" formControlName="itemConsumo" (change)="calcularPreco()">
                    <option [ngValue]="null"></option>
                    @for(itemConsumo of itemCosnumoService.itensConsumo();  track $index){
                        <option [ngValue]="itemConsumo">{{itemConsumo.descricao}}</option>
                    }
                </select>
        </div> -->

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="quantidadeItemConsumo" class="form-label">Quantidade</label>
                <input type="number" name="quantidadeItemConsumo" id="quantidadeItemConsumo" class="form-control" formControlName="quantidadeItemConsumo" (change)="calcularPreco()">
            </div>
            <div class="col-md-4">
                <label for="precoItemPedido" class="form-label">Total</label>
                <input type="text" name="precoItemPedido" id="precoItemPedido" class="form-control" formControlName="precoItemPedido" [currencyMask]="{prefix: '', suffix: '', thousands: '.', decimal: ','}" readonly>
            </div>
            <div class="col-md-4">
                <label for="desconto" class="form-label">Desconto</label>
                <input type="text" name="desconto" id="desconto" class="form-control" formControlName="desconto"  [currencyMask]="{prefix: '', suffix: '%'}" readonly>
            </div>
        </div>

        @if(itemPedido == null && pedido == null){
            <div class="mb-3">
                <label for="pedido" class="form-label">Pedido</label>
                    <select name="pedido" id="pedido" class="form-control" formControlName="pedido">
                        <option [ngValue]="null"></option>
                        @for(pedido of pedidoService.pedidos()?.pedidoDTOList;  track $index){
                            <option [ngValue]="pedido">{{pedido.descricao}}</option>
                        }
                    </select>
            </div>
        }

        <div class="d-flex justify-content-end" style="margin-left: -24px;">
            <button type="button" class="btn btn-secondary me-1 header-color rounded-start" (click)="cancel()">
              <i class="fa fa-times" aria-hidden="true"></i>
              Cancelar
            </button>
            <button type="submit" class="btn btn-success header-color rounded-end">
              <i class="fa fa-check" aria-hidden="true"></i>
              Adicionar
            </button>
          </div>
        
    </form>
</div>